.hidden
.cursor
.DS_Store
.*.py
pyrightconfig.json
.idea
.ve*
.coverage
.ruff_cache
.mypy_cache
.pytest_cache
coverage.xml
htmlcov
report.xml

.env
__pycache__
*.pyc
*.egg-info

build
dist

deployment/helm/charts/
deployment/helm/requirements.lock

